
<div class="home-container">
    <!-- Menú lateral con botones -->
    <aside class="sidebar">
      <button class="menu-btn" routerLink="/productos">Productos</button>
      <button class="menu-btn">Reabastecer</button>
      <button class="menu-btn">Inventario</button>
      <button class="menu-btn">Ventas</button>
      <button class="menu-btn">Proveedores</button>
    </aside>
  
    <!-- Contenido principal -->
    <main class="main-content">
      <div class="search-container">
        <input type="text" placeholder="Buscar productos para iniciar la venta" />
        <button class="search-btn">🔍</button>
      </div>
    </main>
  </div>
  