<div class="reabastecer-container">
    <!-- Barra de búsqueda -->
    <div class="search-container">
        <button class="back-btn" routerLink="/">⬅️ Volver al inicio</button>
        <input type="text" placeholder="Buscar productos..." [(ngModel)]="terminoBusqueda" (input)="buscarProductos()" />
            <button class="search-btn">🔍</button>
    </div>
    <!-- Resultados de búsqueda -->
    <div class="resultados-busqueda" *ngIf="productosEncontrados.length > 0">
        <div class="producto-card" *ngFor="let producto of productosEncontrados">
            <img [src]="producto.foto ? 'http://localhost:3000/' + producto.foto : 'https://via.placeholder.com/150'" alt="Imagen del producto" class="producto-img" />
            <div class="producto-info">
                <h3>{{producto.nombre}}</h3>
                <p>{{producto.descripcion}}</p>
                <p><span class="info-label">Precio:</span> ${{producto.precio_venta}}</p>
                <p><span class="info-label">Existencias:</span> {{producto.existencias}}</p>
            </div>
            <div class="producto-cantidad">
                <label for="cantidad">Cantidad:</label>
                <input type="number" #cantidadInput min="{{producto.existencias + 1}}" value="{{producto.existencias + 1}}" />
            </div>
            <button class="ingresar-btn" (click)="reabastecerProducto(producto.id, cantidadInput.valueAsNumber, producto.existencias)">
                📦 Reabastecer
            </button>
        </div>
    </div>

    <!-- Lista de productos -->
    <div class="productos-list">
        <!-- Tarjeta de producto -->
        <div class="producto-card" *ngFor="let producto of productos">
            <img [src]="producto.img" alt="Imagen del producto" class="producto-img" />
            <div class="producto-info">
                <h3>{{producto.nombre}}</h3>
                <p>{{producto.descripcion}}</p>
                <p><span class="info-label">Precio:</span> ${{producto.precio_venta}}</p>
                <p><span class="info-label">Existencias:</span> {{producto.existencias}}</p>
            </div>
            <div class="producto-cantidad">
                <label for="cantidad">Cantidad:</label>
                <input type="number" #cantidadInput min="{{producto.existencias + 1}}" value="{{producto.existencias + 1}}" />
            </div>
            <button class="ingresar-btn" (click)="reabastecerProducto(producto.id, cantidadInput.valueAsNumber, producto.existencias)">
                📦 Reabastecer
            </button>
        </div>
    </div>
</div>